/dts-v1/;
/plugin/;

#include <dt-bindings/clock/rk3399-cru.h>
#include <dt-bindings/gpio/gpio.h>

/ {
	model = "ROCK PI 4C";
	compatible = "rockchip,rockpi","rockchip,rk3399";

	/* --------------------------------------------------
	 * OSOYOO display using the Focal FT5406 capacitive
	 * touch controller, the Toshiba TC358762 DSI to DPI
	 * bridge and a I2C panel controller. The capacitive
	 * touch controller is at I2C address 0x38. The panel
	 * controller is at I2C address 0x45.
	 * Both controller connected to i2c1 port
	 * -------------------------------------------------- */

	fragment@0 {
		target = <&i2c1>;

		__overlay__ {
		    #address-cells = <1>;
			#size-cells = <0>;

			osoyoo_touch@38 {
			    compatible ="edt,edt-ft5406";
			    #address-cells = <1>;
				#size-cells = <0>;
			    vcc-supply = <&vcc_3v0>;
			    reg = <0x38>;
				status = "okay";
			};

			osoyoo_panel@45 {
				compatible = "osoyoo,osoyoo-panel";
			    #address-cells = <1>;
				#size-cells = <0>;
				reg = <0x45>;
				status = "okay";
				panel,bpc = <8>;
				panel,pwm = <0xff>;
				panel,width = <217>;
				panel,height = <136>;
				panel,timing = <1>;
				dsi,init = <4>;
				/*dsi,mode_flags = <0x805>;*/
				dsi,format = <0>;
				dsi,lanes = <1>;

				display-timings {
					native-mode = <&timing1>;
					timing1: dt-1 {
						clock-frequency = <40000000>;
						hactive      = <800>;
						hfront-porch = <40>;
						hsync-len    = <128>;
						hback-porch  = <88>;
						vactive      = <600>;
						vfront-porch = <1>;
						vsync-len    = <4>;
						vback-porch  = <23>;
						hsync-active = <0>;
                        vsync-active = <1>;
					};
					timing2: dt-2 {
						clock-frequency = <65000000>;
						hactive      = <1024>;
						hfront-porch = <24>;
						hsync-len    = <136>;
						hback-porch  = <160>;
						vactive      = <768>;
						vfront-porch = <3>;
						vsync-len    = <6>;
						vback-porch  = <29>;
						hsync-active = <0>;
                       	vsync-active = <0>;
					};
				};

				port {
					dsi,master = <&panel_in_channel0>;
					panel_in_channel0: endpoint@0 {
						remote-endpoint = <&panel_out_dsi0>;
					};
					panel_in_channel1: endpoint@1 {
						remote-endpoint = <&panel_out_dsi1>;
					};
				};
			};
		};
	};

	/* --------------------------------------------------
	 * Enable MIPI DSI (entry must be enabled for dual channel)
	 * -------------------------------------------------- */
	fragment@1 {
		target = <&mipi_dsi>;

		__overlay__ {
            #address-cells = <1>;
           	#size-cells = <0>;
			clock-master;
			status = "okay";

			ports {
			    #address-cells = <1>;
			    #size-cells = <0>;

				mipi_out: port@1 {
                    reg = <1>;

					panel_out_dsi0: endpoint {
						remote-endpoint = <&panel_in_channel0>;
					};
				};
			};
		};
	};

	fragment@2 {
		target = <&mipi_dsi1>;

		__overlay__ {
       		#address-cells = <1>;
       		#size-cells = <0>;
			status = "okay";

			ports {
			    #address-cells = <1>;
			    #size-cells = <0>;

				mipi1_out: port@1 {
                    reg = <1>;

					panel_out_dsi1: endpoint {
						remote-endpoint = <&panel_in_channel1>;
					};
				};
			};
		};
	};

	/* --------------------------------------------------
	 * Disable HDMI
	 * -------------------------------------------------- */

	fragment@3 {
		target = <&hdmi>;
		__overlay__ {
			status = "disabled";
		};
	};

	/* --------------------------------------------------
	 * Disable eDP
	 * -------------------------------------------------- */

	fragment@4 {
		target = <&edp>;
		__overlay__ {
			status = "disabled";
		};
	};
};
